@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  overflow: hidden;
}

section .text {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 40px;
  max-width: 800px;
  user-select: none;
  font-size: 1.5em;
}

section .text span {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

section .text span.active {
  animation: smoke 2s linear forwards;
  transform-origin: bottom;
}

@keyframes smoke {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) translateY(0) rotate(0deg) scale(1);
    color: red;
  }
  50% {
    opacity: 1;
    pointer-events: none;
    color: #fff;
  }
  100% {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    color: #fff;
  }
}
