@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eeeaf0;
}

section::before {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 40%;
  width: 600px;
  height: 600px;
  background: linear-gradient(rgb(138, 5, 190), #f0f);
  border-radius: 50%;
}

.card {
  position: relative;
  width: 508px;
  height: 314px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  transform-style: preserve-3d;
  background: rgb(165, 60, 198);

  transition: 1s;
}

.card:hover .face.front {
  transform: rotateY(180deg);
}

.card .face.back {
  transform: rotateY(180deg);
}
.card:hover .face.back {
  transform: rotateY(360deg);
}

.card .face.front::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 40px;
  width: 60px;
  height: 60px;
  background: rgb(255, 183, 82);
  border-radius: 50%;
  opacity: 0.8;
}

.card .face.front::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 80px;
  width: 60px;
  height: 60px;
  background: rgb(246, 67, 63);
  border-radius: 50%;
  opacity: 0.7;
}

.card .face.front .bank {
  position: absolute;
  right: 40px;
  top: 80px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 16px;
}

.card .face.front .chip {
  position: absolute;
  top: 100px;
  left: 50px;
  max-width: 64px;
}

.card .face.front .logo {
  position: absolute;
  bottom: 25px;
  left: 50px;
  max-width: 90px;
}

.card .face.front .number {
  position: absolute;
  bottom: 40px;
  left: 150px;
  color: #fff;
  font-weight: 500;
}

.card .face.back .blackbar {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 60px;
  background: #eeeaf0;
}

.card .face.back .info {
  position: absolute;
  display: flex;
  width: calc(100% - 20px);
  margin: 10px;
  justify-content: space-between;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card .face.back .info p {
  font-size: 8px;
  color: #fff;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card .face.back .ccvtext {
  position: absolute;
  top: 120px;
  left: 10px;
}

.card .face.back .ccvtext h5 {
  position: absolute;
  top: 120px;
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card .face.back .ccvtext .whitebar {
  position: relative;
  width: 400px;
  height: 40px;
  background: #fff;
  margin-top: 5px;
}

.card .face.back .ccvtext .ccv {
  position: relative;
  left: 395px;
  top: -35px;
  background: #ccc;
  color: #111;
  width: 50px;
  height: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .face.back::before {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background: rgb(0, 161, 222);
  border-radius: 50%;
  opacity: 0.8;
}

.card .face.back::after {
  content: "";
  position: absolute;
  bottom: 30px;
  right: 70px;
  width: 60px;
  height: 60px;
  background: rgb(0, 103, 178);
  border-radius: 50%;
  opacity: 0.7;
}

.card .face.back .bank {
  position: absolute;
  right: 55px;
  bottom: 10px;
  color: #fff;
  font-weight: 700;
  font-style: italic;
  font-size: 16px;
}
