@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eeeaf0;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 50%;
  width: 500px;
  height: 500px;
  background: linear-gradient(rgb(138, 5, 190), #f0f);
  border-radius: 50%;
}

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.container .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 420px;
  margin: 20px;
  border-radius: 10px;
  background: rgb(138, 5, 190);
}

.container .box .content {
  padding: 30px;
  text-align: center;
  color: #eeeaf0;
}

.container .box .content .quote {
  font-size: 70px;
  font-family: "Della Respira", serif;
  text-align: center;
  margin: 0 auto;
}

.container .box .content p {
  color: #eeeaf0;
  padding: 20px 0;
}

.container .box .content .user {
  max-width: 72px;
  border-radius: 50%;
}

.container .box .content h3 {
  color: #eeeaf0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}
